@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-family: Oxanium;
  color: #2D485C;
  font-weight: 400;
  background-color: #F0F0F0;
}

::-webkit-scrollbar-track {
  background-color: #dad0d0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86,
        #17A78A), color-stop(0.86,
        #17A78A), color-stop(0.86, #17A78A));
}

.css-button-sliding-to-left--green {
  min-width: 170px;
  height: 55px;
  color: #F0F0F0;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 8px;
  z-index: 0;
  background: #F0F0F0;
  overflow: hidden;
  border: 2px solid #2D485C;
  color: #2D485C;
  font-size: 22px;
}

.css-button-sliding-to-left--green:hover {
  color: #fff;
  border: 2px solid #17A78A;
}

.css-button-sliding-to-left--green:hover:after {
  width: 100%;
}

.css-button-sliding-to-left--green:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #17A78A;
}

.css-button-sliding-to-left--black {
  min-width: 180px;
  height: 60px;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 8px;
  z-index: 0;
  background: #0F0E0E;
  overflow: hidden;
  border: 2px solid #F0F0F0;
  color: #F0F0F0;
  font-size: 22px;
}

.css-button-sliding-to-left--black:hover {
  color: #0F0E0E;
}

.css-button-sliding-to-left--black:hover:after {
  width: 100%;
}

.css-button-sliding-to-left--black:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #F0F0F0;
}

.max-left {
  margin-left: max(0px, (100% - 1440px)/2);

}