@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dad0d0;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(7, 80, 224)), color-stop(0.72, rgb(30, 97, 179)), color-stop(0.86, rgb(28, 58, 148)));
}
